<template>
    <div class="container">
        <b-alert v-if="errorMessage" dismissible show variant="danger">{{ errorMessage }}</b-alert>
        <p>Are you sure to delete crime number : {{ id }} ?!</p>
        <b-button class="mr-3" @click.stop.prevent="deleteCrime" variant="danger">Ok</b-button>
        <b-button href="/crimes" variant="success">No</b-button>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        fetch ({ store, params }) {
            return store.commit('setIdCrime', params.id)
        },
        head: {
			title: 'Delete page'
        },
        data() {
            return {
                id: this.$store.state.idCrime,
                errorMessage: '',
                showDismissibleAlert: false
            }
        },
        mounted() {
            // Recuperation des donnees de l'utilisateur pour remplir le formulaire
            axios({
                method: 'GET',
                url: 'http://localhost:3000/crimes/'+ this.id,
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((res) => {
                let response = res.data

                console.log(response._id)
                this.id = response._id
            });
            this.$store.commit('increment', 'Delete')
        },
        methods: {
            deleteCrime(){
                var self = this;
                axios({
                    method: 'DELETE',
                    url: 'http://localhost:3000/crimes/'+ this.id,
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    }
                })
                .then((res) => {
                    self.$router.push('/crimes');
                })
                .catch((error) =>{
                    this.errorMessage = error.message
                });
            }
        }
    }
</script>
