<template>
    <div class="container">
        <!-- <ul v-if="lengthItem > 0" id="example-1">
            <li v-for="(item, index) in items" :key="index">
                {{ index }} : {{ item }}
            </li>
        </ul>
         -->
        <b-card-group v-if="lengthItem > 0" deck>
            <b-card header="<b>Crime details</b>">
                <b-list-group >
                    <b-list-group-item href=# v-for="(item, index) in items" :key="index">
                        {{ index }} : {{ item }}
                    </b-list-group-item>
                </b-list-group>
            </b-card>
        </b-card-group>
        <p style="color: red;" v-else>
            <strong>The crime number : {{ id }} , doesn't exist</strong>
        </p>
        <b-button class="mt-2 mb-2" href="/crimes" variant="primary">Go back</b-button>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        fetch ({ store, params }) {
            return store.commit('setIdCrime', params.id)
        },
        head: {
			title: 'Details page'
        },
        data() {
            return {
                id: this.$store.state.idCrime,
                fields: ['id', 'reptdistrict', 'main_crimecode', 'fromdate'],
                items: [],
                lengthItem: 1
            }
        },
        mounted() {
            // Recuperation des donnees du crime pour remplir le tableau
            axios({
                method: 'GET',
                url: 'http://localhost:3000/crimes/'+ this.id,
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((res) => {
                let response = res.data

                console.log("Ceci est un champ pour le debug => ", response )
                this.items = response
                this.lengthItem = Object.keys(this.items).length
            });
            this.$store.commit('increment', 'Details')
        }
    }
</script>
