<template>
    <div class="container">
        <p class="color: red;" v-if="message">{{ message }}</p>
        <b-form v-if="show">
            <b-form-group   label="Compnos:">
                <b-form-input   type="number"
                                min=0
                                v-model="form.compnos"
                                required
                                placeholder="Enter a compnos">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Nature code:">
                <b-form-input   type="text"
                                v-model="form.naturecode"

                                placeholder="Enter nature code">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Incident type description:">
                <b-form-input   type="text"
                                v-model="form.incident_type_description"

                                placeholder="Enter type description">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Main crime code:">
                <b-form-input   type="text"
                                v-model="form.main_crimecode"

                                placeholder="Enter main crime code">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Rept district:">
                <b-form-input   type="text"
                                v-model="form.reptdistrict"

                                placeholder="Enter rept district">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Reporting area:">
                <b-form-input   type="text"
                                v-model="form.reportingarea"

                                placeholder="Enter reporting area">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="From date:">
                <b-form-input   type="date"
                                v-model="form.fromdate"
                                required
                                >
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Weapon type:">
                <b-form-input   type="text"
                                v-model="form.weapontype"

                                placeholder="Enter weapon type">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Shooting:">
                <b-form-select  v-model="form.shooting" :options="shootingOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="Domestic:">
                <b-form-select  v-model="form.domestic" :options="domesticOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="Shift:">
                <b-form-input   type="text"
                                v-model="form.shift"

                                placeholder="Enter shift">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Year:">
                <b-form-select  v-model="form.year" :options="yearOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="Month:">
                <b-form-select  v-model="form.month" :options="monthOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="Day week:">
                <b-form-select  v-model="form.day_week" :options="dayOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="Ucrpart:">
                <b-form-select  v-model="form.ucrpart" :options="ucrpartOptions" class="mb-3" />
            </b-form-group>
            <b-form-group   label="x & y:">
                <b-form-input   type="number"
                                min=0
                                v-model="form.x"

                                placeholder="Enter a x position">
                </b-form-input>
                <b-form-input   type="number"
                    min=0
                    v-model="form.y"

                    placeholder="Enter a y position">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Streetname:">
                <b-form-input   type="text"
                                v-model="form.streetname"

                                placeholder="Enter streename">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Xstreetname:">
                <b-form-input   type="text"
                                v-model="form.xstreetname"

                                placeholder="Enter xstreename">
                </b-form-input>
            </b-form-group>
            <b-form-group   label="Location:">
                <b-form-input   type="text"
                                v-model="form.location"

                                placeholder="Enter location">
                </b-form-input>
            </b-form-group>

            <b-button @click.prevent="onSubmit" type="submit" variant="primary">Submit</b-button>
            <b-button  variant="danger" href="/" >Back to index</b-button>
        </b-form>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        middleware: 'authenticated',
        fetch ({ store, params }) {
            return store.commit('setIdCrime', params.id)
        },
        head: {
			title: 'Add crime page'
        },
        data() {
            return {
                shootingOptions: [
                    { text: 'True', value: 'True' },
                    { text: 'False', value: 'False' },
                ],
                domesticOptions: [
                    { text: 'True', value: 'True' },
                    { text: 'False', value: 'False' },
                ],
                yearOptions: [
                    { text: '2018', value: 2018 },
                    { text: '2017', value: 2017 },
                    { text: '2016', value: 2016 },
                    { text: '2015', value: 2015 },
                    { text: '2014', value: 2014 },
                    { text: '2013', value: 2013 },
                    { text: '2012', value: 2012 },
                    { text: '2011', value: 2011 },
                    { text: '2010', value: 2010 },
                    { text: '2009', value: 2009 },
                    { text: '2008', value: 2008 },
                    { text: '2007', value: 2007 },
                    { text: '2006', value: 2006 },
                    { text: '2005', value: 2005 },
                ],
                monthOptions: [
                    { text: 'December', value: 12 },
                    { text: 'November', value: 11 },
                    { text: 'October', value: 10 },
                    { text: 'September', value: 9 },
                    { text: 'August', value: 8 },
                    { text: 'July', value: 7 },
                    { text: 'June', value: 6 },
                    { text: 'May', value: 5 },
                    { text: 'April', value: 4 },
                    { text: 'March', value: 3 },
                    { text: 'February', value: 2 },
                    { text: 'January', value: 1 },
                ],
                dayOptions: [
                    { text: 'Sunday', value: 'Sunday' },
                    { text: 'Saturday', value: 'Saturday' },
                    { text: 'Wednesday', value: 'Wednesday' },
                    { text: 'Thursday', value: 'Thursday' },
                    { text: 'Friday', value: 'Friday' },
                    { text: 'Thuesday', value: 'Thuesday' },
                    { text: 'Monday', value: 'Monday' },
                ],
                ucrpartOptions: [
                    { text: 'Part One', value: 'Part One' },
                    { text: 'Part Two', value: 'Part Two' },
                    { text: 'Part three', value: 'Part three'},
                ],
                form: {
                    compnos: '',
                    reportingarea: '',
                    incident_type_description: '',
                    reptdistrict: '',
                    naturecode: '',
                    main_crimecode: '',
                    fromdate: '',
                    weapontype: '',
                    shooting: '',
                    domestic: '',
                    shift: '',
                    year: '',
                    month: '',
                    day_week: '',
                    ucrpart: '',
                    x: '',
                    y: '',
                    streetname: '',
                    xstreetname: '',
                    location: ''
                },
                foods: [
                    { text: 'Select One', value: null },
                    'Carrots', 'Beans', 'Tomatoes', 'Corn'
                ],
                show: true,
                message: '',
                id: this.$store.state.idCrime
            }
        },
        methods: {
            onSubmit(){
                var self = this;
                axios({
                    method: 'PUT',
                    url:'http://localhost:3000/crimes/' + this.id,
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    },
                    data: {
                        compnos: self.form.compnos,
                        reportingarea: self.form.reportingarea,
                        incident_type_description: self.form.incident_type_description,
                        reptdistrict: self.form.reptdistrict,
                        naturecode: self.form.naturecode,
                        main_crimecode: self.form.main_crimecode,
                        fromdate: self.form.fromdate,
                        weapontype: self.form.weapontype,
                        shooting: self.form.shooting,
                        domestic: self.form.domestic,
                        shift: self.form.shift,
                        year: self.form.year,
                        month: self.form.month,
                        day_week: self.form.day_week,
                        ucrpart: self.form.ucrpart,
                        x: self.form.x,
                        y: self.form.y,
                        streetname: self.form.streetname,
                        xstreetname: self.form.xstreetname,
                        location: self.form.location
                    }
                })
                .then(function (response){
                    var response = response.data

                    console.log({response})
                    self.message = response.status

                })
                .catch(function (error){
                    var response = error.response.data;


                    self.message = response.message;
                });
            }
        },
        mounted() {
            this.$store.commit('increment', 'Add crime')

            axios({
                method: 'GET',
                url: 'http://localhost:3000/crimes/'+ this.id,
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((res) => {
                let response = res.data

                this.form.compnos = response.compnos
                this.form.reportingarea = response.reportingarea
                this.form.incident_type_description = response.incident_type_description
                this.form.reptdistrict = response.reptdistrict
                this.form.naturecode = response.naturecode
                this.form.main_crimecode = response.main_crimecode
                this.form.fromdate = response.fromdate
                this.form.weapontype = response.weapontype
                this.form.fromdate = response.fromdate
                this.form.weapontype = response.weapontype
                this.form.shooting = response.shooting
                this.form.domestic = response.domestic
                this.form.shift = response.shift
                this.form.year = response.year
                this.form.month = response.month
                this.form.day_week = response.day_week
                this.form.ucrpart = response.ucrpart
                this.form.x = response.x
                this.form.y = response.y
                this.form.streetname = response.streetname
                this.form.xstreetname = response.xstreetname
                this.form.location = response.location
            });
            this.$store.commit('increment', 'Edit')
        }
    }
</script>
