<template>
    <div class="container">
        <b-button class="row mr-3" href="/crime/add" variant="success">Add a crime</b-button>
        <b-button variant="danger" href="/map">Map</b-button>
        <b-row class="mb-1 mt-2">
            <b-form-input placeholder="Enter id" type="text" v-model="idSearch" class="w-25"></b-form-input>
            <b-form-input placeholder="Enter compnos" type="text" v-model="compnosSearch" class="w-25"></b-form-input>
            <b-form-input placeholder="Enter reporting area" type="text" v-model="reportingareaSearch" class="w-25"></b-form-input>
            <b-form-input placeholder="Enter street name" type="text" v-model="streetnameSearch" class="w-25 mb-1"></b-form-input>
            <b-button success @click.prevent="search">Search</b-button>
        </b-row>
        <b-row class="mb-2">
            <b-form-select v-model="shootingFilter" :options="shootingOptions" class="w-25">
                <option :value="'null'">-- Shooting --</option>
            </b-form-select>
            <b-form-select v-model="domesticFilter" :options="domesticOptions" class="w-25">
                <option :value="'null'">-- Domestic --</option>
            </b-form-select>
            <b-form-input type="date" v-model="fromdateFilter" class="w-25"></b-form-input>
            <b-form-select  v-model="monthFilter" :options="monthOptions" class="w-25" />
            <b-form-select  v-model="dayweekFilter" :options="dayOptions" class="w-25" />
            <b-form-input  max-length=4 min-length=4 min=1900 v-model="yearFilter" type="number" class="w-25"></b-form-input>
            <b-form-select  v-model="weapontypeFilter" :options="weapontypeOptions" class="w-25" />
            <b-form-select  v-model="reptdistrictFilter" :options="reptdistrictOptions" class="w-25" />
            <b-form-select  v-model="maincrimecodeFilter" :options="maincrimecodeOptions" class="w-25" />
            <b-form-select  v-model="naturecodeFilter" :options="naturecodeOptions" class="w-25" />
            <b-button class="ml-2" success @click.prevent="search">Filter</b-button>
        </b-row>
        <b-table striped hover :items="items" :fields="fields">
            <template slot="_id" slot-scope="data">
                    <a :href="'/crime/'+ data.item._id +'/details'">{{ data.item._id }}</a>
            </template>
            <template slot="Edit" slot-scope="data">
                <a :href="'/crime/'+ data.item._id +'/edit'">Edit</a>
            </template>

            <template slot="Delete" slot-scope="data">
                <a :href="'/crime/'+ data.item._id +'/delete'">Delete</a>
            </template>
        </b-table>
        <b-row>
            <b-button variant="warning" @click.prevent="prevPage">Prev</b-button><h2><b-badge class="ml-1 mr-1" variant="info">{{ currentPage }}</b-badge></h2><b-button variant="warning" @click.prevent="nextPage">Next</b-button>
        </b-row>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {

        middleware: 'authenticated',
        data() {
            return {
                dismissSecs: 5,
                dismissCountDown: 0,
                error: '',
                fields: [{
                        key: '_id',
                        sortable: true
                    },
                    {
                        key: 'incident_type_description',
                        variant: 'Incident type',
                        sortable: true,
                    },
                    {
                        key: 'reptdistrict',
                        label: 'District',
                        sortable: true
                    },
                    {
                        key: 'fromdate',
                        label: 'From date',
                        sortable: true
                    },
                    {
                        key: 'weapontype',
                        label: 'Weapon type',
                        sortable: true
                    },
                    {
                        key: 'domestic',
                        sortable: true
                    },
                    {
                        key: 'Edit'
                    },
                    {
                        key: 'Delete'
                    }
                ],
                items: [],
                currentPage: 1,
                offset: 0,
                shootingFilter: 'null',
                domesticFilter: 'null',
                fromdateFilter: '',
                dayweekFilter: 'null',
                monthFilter: 'null',
                weapontypeFilter: 'null',
                yearFilter: 0,
                reptdistrictFilter: 'z',
                maincrimecodeFilter: 'null',
                naturecodeFilter: 'null',
                idSearch: '',
                compnosSearch: '',
                reportingareaSearch: '',
                streetnameSearch: '',
                shootingOptions: [
                    { value: 'False', text: 'False' },
                    { value: 'True', text: 'True' },
                ],
                domesticOptions: [
                    { value: 'False', text: 'False' },
                    { value: 'True', text: 'True' },
                ],
                monthOptions: [
                    { text: '-- Month --', value: 'null'},
                    { text: 'December', value: 12 },
                    { text: 'November', value: 11 },
                    { text: 'October', value: 10 },
                    { text: 'September', value: 9 },
                    { text: 'August', value: 8 },
                    { text: 'July', value: 7 },
                    { text: 'June', value: 6 },
                    { text: 'May', value: 5 },
                    { text: 'April', value: 4 },
                    { text: 'March', value: 3 },
                    { text: 'February', value: 2 },
                    { text: 'January', value: 1 },
                ],
                dayOptions: [
                    { text: '-- Day week --', value: 'null'},
                    { text: 'Sunday', value: 'Sunday' },
                    { text: 'Saturday', value: 'Saturday' },
                    { text: 'Wednesday', value: 'Wednesday' },
                    { text: 'Thursday', value: 'Thursday' },
                    { text: 'Friday', value: 'Friday' },
                    { text: 'Thuesday', value: 'Thuesday' },
                    { text: 'Monday', value: 'Monday' },
                ],
                weapontypeOptions: [
                    { value: 'null', text: '-- Weapon type --'},
                    { value: 'Other', text: 'Other'},
                    { value: 'Unarmed', text: 'Unarmed'},
                    { value: 'Firearm', text: 'Firearm'},
                    { value: 'Knife', text: 'Knife'},
                    { value: 'None', text: 'None'},
                    { value: 'Knife/Cutting Instrument', text: 'Knife/Cutting Instrument'},
                    { value: 'Personal Weapon (hand foot etc.)', text: 'Personal Weapon (hand foot etc.)'},
                    { value: 'Blunt Object', text: 'Blunt Object'},
                ],
                reptdistrictOptions: [
                    { value: 'z', text: '-- rept disctrict --'},
                    { value: 'C11', text: 'C11'},
                    { value: 'A1', text: 'A1'},
                    { value: 'D4', text: 'D4'},
                    { value: 'B2', text: 'B2'},
                    { value: 'B3', text: 'B3'},
                    { value: 'D14', text: 'D14'},
                    { value: 'E13', text: 'E13'},
                    { value: 'E5', text: 'E5'},
                    { value: 'A15', text: 'A15'},
                    { value: 'E18', text: 'E18'},
                    { value: 'C6', text: 'C6'},
                    { value: 'A7', text: 'A7'},
                    { value: 'HTU', text: 'HTU'},
                    { value: 'NULL', text: 'NULL'},
                ],
                maincrimecodeOptions: [
                    { value: 'null', text: '-- main crime code --'},{ value: 'Ballist', text: 'Ballist'},{ value: '22xx', text: '22xx'},{ value: '14xx', text: '14xx'},{ value: 'PropLost', text: 'PropLost'},{ value: 'MedAssist', text: 'MedAssist'},{ value: '03xx', text: '03xx'},{ value: '08xx', text: '08xx'},{ value: 'InvProp', text: 'InvProp'},{ value: 'VAL', text: 'VAL'},{ value: 'MVAcc', text: 'MVAcc'},{ value: '06xx', text: '06xx'},{ value: '07xx', text: '07xx'},{ value: '18xx', text: '18xx'},{ value: 'PropDam', text: 'PropDam'},{ value: '05RB', text: '05RB'},{ value: '11xx', text: '11xx'},{ value: 'TOWED', text: 'TOWED'},{ value: 'InvPer', text: 'InvPer'},{ value: 'Gather', text: 'Gather'},{ value: 'TRESPASS', text: 'TRESPASS'},{ value: 'Harass', text: 'Harass'},{ value: 'Service', text: 'Service'},{ value: '06MV', text: '06MV'},{ value: '04xx', text: '04xx'},{ value: '32GUN', text: '32GUN'},{ value: 'Argue', text: 'Argue'},{ value: 'SexReg', text: 'SexReg'},{ value: '24xx', text: '24xx'},{ value: '10xx', text: '10xx'},{ value: 'PropFound', text: 'PropFound'},{ value: 'Bomb', text: 'Bomb'},{ value: 'PhoneCalls', text: 'PhoneCalls'},{ value: 'Arrest', text: 'Arrest'},{ value: 'FIRE', text: 'FIRE'},{ value: '13xx', text: '13xx'},{ value: 'OTHER', text: 'OTHER'},{ value: 'Restrain', text: 'Restrain'},{ value: 'PersLoc', text: 'PersLoc'},{ value: '15xx', text: '15xx'},{ value: 'BENoProp', text: 'BENoProp'},{ value: '05CB', text: '05CB'},{ value: '01INV', text: '01INV'},{ value: 'Landlord', text: 'Landlord'},{ value: 'PersMiss', text: 'PersMiss'},{ value: 'PubDrink', text: 'PubDrink'},{ value: '07RV', text: '07RV'},{ value: 'InvVeh', text: 'InvVeh'},{ value: 'Plates', text: 'Plates'},{ value: 'LICViol', text: 'LICViol'},{ value: '20xx', text: '20xx'},{ value: 'PRISON', text: 'PRISON'},{ value: 'Harbor', text: 'Harbor'},{ value: '21xx', text: '21xx'},{ value: '16xx', text: '16xx'},{ value: 'Hazardous', text: 'Hazardous'},{ value: 'SkipFare', text: 'SkipFare'},{ value: 'Manslaug', text: 'Manslaug'},{ value: 'SearchWarr', text: 'SearchWarr'},{ value: 'Runaway', text: 'Runaway'},{ value: '01xx', text: '01xx'},{ value: '09xx', text: '09xx'},{ value: '12xx', text: '12xx'},{ value: 'BurgTools', text: 'BurgTools'},{ value: 'Explos', text: 'Explos'},{ value: 'Towed', text: 'Towed'},{ value: 'PersFound', text: 'PersFound'},{ value: 'BALLIST', text: 'BALLIST'},{ value: 'Fire', text: 'Fire'},{ value: '02ID', text: '02ID'},{ value: '05OH', text: '05OH'},{ value: '32Gun', text: '32Gun'},{ value: '02RA', text: '02RA'},
                ],
                naturecodeOptions: [
                    { value: 'null', text: '-- Nature code --'},{ value: 'SSA', text: 'SSA'},{ value: 'CD35', text: 'CD35'},{ value: 'PROP', text: 'PROP'},{ value: 'ARREST', text: 'ARREST'},{ value: 'FIGHT', text: 'FIGHT'},{ value: 'REQP', text: 'REQP'},{ value: 'ARMROB', text: 'ARMROB'},{ value: 'IVPER', text: 'IVPER'},{ value: 'VAND', text: 'VAND'},{ value: 'AB', text: 'AB'},{ value: 'ROBBER', text: 'ROBBER'},{ value: 'MVA', text: 'MVA'},{ value: 'ALARM', text: 'ALARM'},{ value: 'BE', text: 'BE'},{ value: 'EDP', text: 'EDP'},{ value: 'IVMV', text: 'IVMV'},{ value: 'CD9', text: 'CD9'},{ value: 'IVPREM', text: 'IVPREM'},{ value: 'INJOFF', text: 'INJOFF'},{ value: 'LARCEN', text: 'LARCEN'},{ value: 'UNCONS', text: 'UNCONS'},{ value: 'PROTES', text: 'PROTES'},{ value: 'DISTRB', text: 'DISTRB'},{ value: 'TS', text: 'TS'},{ value: 'CARDIA', text: 'CARDIA'},{ value: 'UNKEMS', text: 'UNKEMS'},{ value: 'FDWEAP', text: 'FDWEAP'},{ value: 'BOMB', text: 'BOMB'},{ value: 'DVIP', text: 'DVIP'},{ value: 'MISC', text: 'MISC'},{ value: 'INVEST', text: 'INVEST'},{ value: 'MISSIN', text: 'MISSIN'},{ value: 'PERGUN', text: 'PERGUN'},{ value: 'VIORDR', text: 'VIORDR'},{ value: 'UNK', text: 'UNK'},{ value: 'FIRE', text: 'FIRE'},{ value: 'STAB', text: 'STAB'},{ value: 'TP', text: 'TP'},{ value: 'CHDABU', text: 'CHDABU'},{ value: 'SS', text: 'SS'},{ value: 'PSHOT', text: 'PSHOT'},{ value: 'PKNIFE', text: 'PKNIFE'},{ value: 'NIDV', text: 'NIDV'},{ value: 'LANTEN', text: 'LANTEN'},{ value: 'SHOTS', text: 'SHOTS'},{ value: 'SUSOBJ', text: 'SUSOBJ'},{ value: 'CD19', text: 'CD19'},{ value: 'LOCKOU', text: 'LOCKOU'},{ value: 'ASLTIP', text: 'ASLTIP'},{ value: 'CD11', text: 'CD11'},{ value: 'ADMRPT', text: 'ADMRPT'},{ value: 'AOD', text: 'AOD'},{ value: 'REQEP', text: 'REQEP'},{ value: 'ASTEMS', text: 'ASTEMS'},{ value: 'CD14', text: 'CD14'},{ value: 'INJ', text: 'INJ'},{ value: 'CD23', text: 'CD23'},{ value: 'POISON', text: 'POISON'},{ value: 'CD15', text: 'CD15'},{ value: 'FO', text: 'FO'},{ value: 'PRSCRM', text: 'PRSCRM'},{ value: 'HOMINV', text: 'HOMINV'},{ value: 'ASSTPO', text: 'ASSTPO'},{ value: 'TRAUMA', text: 'TRAUMA'},{ value: 'OT', text: 'OT'},{ value: 'SP', text: 'SP'},{ value: 'RESP', text: 'RESP'},{ value: 'RAPE', text: 'RAPE'},{ value: 'PRIOR', text: 'PRIOR'},{ value: 'KIDNAP', text: 'KIDNAP'},{ value: 'CD13', text: 'CD13'},{ value: 'CD24', text: 'CD24'},{ value: 'JUMPER', text: 'JUMPER'},{ value: 'BOLO', text: 'BOLO'},{ value: 'CD7', text: 'CD7'},{ value: 'CD19IV', text: 'CD19IV'},{ value: 'SDNDTH', text: 'SDNDTH'},{ value: 'CD303', text: 'CD303'},{ value: 'BURN', text: 'BURN'},{ value: 'CD8', text: 'CD8'},{ value: 'ABAN', text: 'ABAN'},{ value: 'FDBODY', text: 'FDBODY'},{ value: 'CD19F', text: 'CD19F'},{ value: 'NULL', text: 'NULL'},{ value: 'I00015', text: 'I00015'},{ value: 'CD5', text: 'CD5'},{ value: 'I00039', text: 'I00039'},{ value: 'I00027', text: 'I00027'},{ value: 'I00040', text: 'I00040'},{ value: 'CARJAK', text: 'CARJAK'},{ value: 'HAZMAT', text: 'HAZMAT'},{ value: 'CD12', text: 'CD12'},{ value: 'STALK', text: 'STALK'},{ value: 'BLEED', text: 'BLEED'},{ value: 'STREET', text: 'STREET'},{ value: 'CD99', text: 'CD99'},
                ]
            }
        },
        mounted() {
            this.$store.commit('increment', 'Crimes')

            axios.get('http://localhost:3000/crimes?limit=10', {
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    }
                })
                .then((response) => {
                    this.items = response.data
                })
                .catch((error) => {
                    console.log({error});
                });
        },
        methods: {
            nextPage() {
                this.offset += 10

                axios.get('http://localhost:3000/crimes?limit=10&offset=' + this.offset, {
                        headers: {
                            'Authorization': "Bearer " + this.$store.state.auth.accessToken
                        }
                    })
                    .then((response) => {
                        this.items = response.data
                        this.currentPage++
                    })
                    .catch((error) => {
                        console.log(error.message);
                    });
            },
            prevPage() {
                if (this.offset >= 10) {
                    this.offset -= 10
                }
                axios.get('http://localhost:3000/crimes?limit=10&offset=' + this.offset, {
                        headers: {
                            'Authorization': "Bearer " + this.$store.state.auth.accessToken
                        }
                    })
                    .then((response) => {
                        this.items = response.data
                        if (this.currentPage > 1) {
                            this.currentPage--
                        }
                    })
                    .catch((error) => {
                        console.log(error.message);
                    });
            },
            search(){
                let self = this
                let url = "http://localhost:3000/crimes?limit=100"
                let id = this.idSearch
                let compnos = this.compnosSearch
                let reportingarea = this.reportingareaSearch
                let streetname = this.streetnameSearch
                let domestic = this.domesticFilter
                let shooting = this.shootingFilter
                let fromdate = this.fromdateFilter
                let month = this.monthFilter
                let dayweek = this.dayweekFilter
                let year = this.yearFilter
                let weapontype = this.weapontypeFilter
                let reptdistrict = this.reptdistrictFilter
                let maincrimecode = this.maincrimecodeFilter
                let naturecode = this.naturecodeFilter

                if (id){
                    url += "&id=" + id
                }
                if (compnos){
                    url += "&compnos=" + compnos
                }
                if (reportingarea){
                    url += "&reportingarea=" + reportingarea
                }
                if (streetname){
                    url += "&streetname=" + streetname
                }
                if (domestic != 'null'){
                    url += '&domestic=' + domestic
                }
                if (shooting != 'null'){
                    url += '&shooting=' + shooting
                }
                if (fromdate != ''){
                    url += '&fromdate=' + fromdate
                }
                if (month != 'null'){
                    url += '&month=' + month
                }
                if (dayweek != 'null'){
                    url += '&day_week=' + dayweek
                }
                if (year != 0){
                    url += '&year=' + year
                }
                if (weapontype != 'null'){
                    url += '&weapontype=' + weapontype
                }
                if (reptdistrict != 'z'){
                    url += '&reptdistrict=' + reptdistrict
                }
                if (maincrimecode != 'null'){
                    url += '&main_crimecode=' + maincrimecode
                }
                if (naturecode != 'null'){
                    url += '&naturecode=' + naturecode
                }

                axios.get(url, {
                        headers: {
                            'Authorization': "Bearer " + this.$store.state.auth.accessToken
                        }
                    })
                    .then((res) => {
                        let response = res.data

                        console.log({res})
                        console.log(url)
                        self.items = response
                    })
                    .catch((error) => {
                        console.log({error});
                    });
            }
        }
    }
</script>