<template>
	<!-- Icon Cards-->
	<div class="row">
		<div v-if="!forbidden" class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-primary o-hidden h-100">
				<div  class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-comments"></i>
					</div>
					<div v-if=" userNumber < 2 " class="mr-5">{{ userNumber }} user</div>
					<div v-else class="mr-5">{{ userNumber }} users</div>

				</div>
				<a class="card-footer text-white clearfix small z-1" href="/users">
					<span class="float-left">View Details</span>
					<span class="float-right">
		                    <i class="fas fa-angle-right"></i>
		                  </span>
				</a>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-danger o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-life-ring"></i>
					</div>
					<div class="mr-5">Crimes</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="/crimes">
					<span class="float-left">View Details</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
	import Cookie from 'js-cookie'
	import axios from 'axios';

	export default {
		middleware: 'authenticated',
		head: {
			title: 'Index page'
		},
		data (){
			return {
				userNumber: 0,
				forbidden: false
			}
		},
		mounted() {
			this.$store.commit('increment', 'index')
			// Recupere la liste des users (nombre)
			var self = this;
			axios.get('http://localhost:3000/users', {
				headers: {
					'Authorization': "Bearer " + this.$store.state.auth.accessToken
				}
			})
			.then((response) => {
				this.userNumber = response.data.length;
			})
			.catch((error) => {
				let statusCode = error.response.status
				if (statusCode == 401){
					this.$store.commit('update', null);
					Cookie.set('auth', null);
					self.$router.push('/login');
				}
				else if (statusCode == 403){
					this.forbidden = true
				}
			});
		}
	}
</script>

<style>
	
</style>

