<template>
	<div class="container mb-2">
		<ul v-if="error" class="list-group" v-for="(error, index) in errors" :key="index">
            <li class="list-group-item list-group-item-danger">{{ error }}, email or password are incorrect</li>
        </ul>
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">Login</div>
			<div class="card-body">
				<form @submit.prevent="onLogin">
					<div class="form-group">
						<div class="form-label-group">
							<input v-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
							<label for="inputEmail">Email address</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
							<label for="inputPassword">Password</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
		                      <input type="checkbox" value="remember-me">
		                      Remember Password
		                    </label>
						</div>
					</div>
					<input type="submit" value="Login" class="btn btn-primary btn-block" />
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" href="/register">Register an Account</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Cookie from 'js-cookie'
	import axios from 'axios'


	export default {
		middleware: 'notAuthenticated',
		head: {
			title: 'Login page'
		},
		methods: {
			onLogin(){
				setTimeout(() => {
					const auth = {
          				accessToken: ''
					}
					var self = this;
					axios.get('http://localhost:3000/login', {
						params: {
							email: self.email,
							password: self.password
						}
					})
					.then(function (res){
						var response = res.data

						auth.accessToken = response.api_key
						self.$store.commit('update', auth);
						Cookie.set('auth', auth, { expires: 7 });
						window.location.href = '/'
					})
					.catch(function (error){
						var response = error.response.data;
						self.errors = response;
					});
				}, 1000)
			}
		},
		data () {
			return {
				email: '',
				password: '',
				accessToken: '',
				errors: ''
			}
		},
		mounted() {
			this.$store.commit('increment', 'Login')
		}
	}
</script>

<style>
	
</style>