<template>
    <div class="container mb-2">

        <ul v-if="error" class="list-group" v-for="(error, index) in errors" :key="index">
            <li class="list-group-item list-group-item-danger" v-for="(e, index) in error" :key="index">{{ e }}</li>
        </ul>
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                <form @submit.prevent="onRegister">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input min=2 type="text" v-model="firstName" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                    <label for="firstName">First name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input min=2 type="text" v-model="lastName" id="lastName" class="form-control" placeholder="Last name" required="required">
                                    <label for="lastName">Last name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input min=5 type="email" v-model="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                            <label for="inputEmail">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input min=6 type="password" v-model="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    <label for="inputPassword">Password</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    <input min=6 type="password" v-model="passwordConfirm" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                    <label for="confirmPassword">Confirm password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="/login">Login Page</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

	export default {
        middleware: 'notAuthenticated',
		head: {
			title: 'Register page'
        },
        methods: {
            onRegister(){
                var self = this;
                axios.post('http://localhost:3000/register', {
                    name: this.firstName + ' ' + this.lastName,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.passwordConfirm
                })
                .then(function (response){
                    window.location.href = '/login'
                })
                .catch(function (error){
                    var response = error.response.data;

                    self.errors = JSON.parse(response.message);
                });
            }
        },
        data (){
            return {
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                passwordConfirm: '',
                register: false,
                errors: []
            }
        },
        mounted() {
            this.$store.commit('increment', 'registers')
		}
	}
</script>

<style>
    
</style>
 