<template>
    <div class="container">
        <div v-if="errorMessage">
            <b-alert dismissible show variant="danger">{{ errorMessage }}</b-alert>
            <b-button href="/" variant="success">Back to home page</b-button>
        </div>
        <div v-else-if="!errorMessage">
            <b-table hover 
                :items="users" 
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                >
                <template slot="role" slot-scope="data">
                    <span v-if="data.item.role == 0">Awaiting</span>
                    <span v-else-if="data.item.role == 1">Officier</span>
                    <span v-if="data.item.role == 2">Detective</span>
                    <span v-if="data.item.role == 3">Chef</span>
                </template>
                <template slot="Edit" slot-scope="data">
                    <a :href="'/user/'+ data.item.id +'/edit'">Edit</a>
                </template>
                <template slot="Delete" slot-scope="data">
                    <a :href="'/user/'+ data.item.id +'/delete'"  >Delete</a>
                </template>
            </b-table>

            <b-button @click="getUsers" >Download user's list</b-button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        middleware: 'authenticated',
        head: {
			title: 'Users page'
        },
        data() {
            return {
                fields: [
                    { 
                        key: 'name',
                        sortable: true 
                    }, 
                    {
                        key: 'email',
                        label: 'email address',
                        sortable: true 
                    },
                    {
                        key: 'role',
                        variant: 'warning',
                        sortable: true,
                    }, 
                    {
                        key: 'created_at',
                        label: 'Creation date',
                        sortable: true
                    }, 
                    {
                        key: 'updated_at',
                        label: 'Updated date',
                        sortable: true
                    },
                    {
                        key: 'Edit',
                        formater: 'getId'
                    },
                    {
                        key: 'Delete'
                    }
                ],
                users: [],
                isError: false,
                errorMessage : '',
                currentPage: 1,
                perPage: 10,
                totalRows: ''
            }
        },
        mounted() {
            this.$store.commit('increment', 'Users')
            axios.get('http://localhost:3000/users', {
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((response) => {
                this.users = response.data;
                this.totalRows = this.users.length
            })
            .catch((error) => {
                if (error.response.status == 403){
                    this.isError = true;
                    this.isErrorRole = true
                    this.errorMessage = "You don't have enough right"
                } else {
                    this.isError = true;
                    this.isErrorRole = true  
                }
            });
        },
        methods: {
            getId (value) {
                return `${value.id}`
            },
            getUsers(){
                axios.get('http://localhost:3000/exportToCsv', {
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    },
                    responseType: 'blob',
                })
                .then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'users.csv');
                    document.body.appendChild(link);
                    link.click();
                })
                .catch((error) => {
                    this.isError = true;
                    this.errorMessage = error.message;
                });
            }
        }
    }
</script>