<template>
    <div class="container">
        <p>Are you sure to delete {{ firstName }} {{ lastName }} ?!</p>
        <b-button @click.stop.prevent="deleteUser" variant="danger">Ok</b-button>
        <b-button href="/users" variant="success">No</b-button>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        validate ({ params }) {
            return /^\d+$/.test(params.id)
        },
        fetch ({ store, params }) {
            return store.commit('setIdUser', params.id)
        },
        head: {
			title: 'Delete page'
        },
        data() {
            return {
                id: this.$store.state.idUser,
                firstName: '',
                lastName: '',
                role: 0
            }
        },
        mounted() {
            // Recuperation des donnees de l'utilisateur pour remplir le formulaire
            axios({
                method: 'GET',
                url: 'http://localhost:3000/users/'+ this.id,
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((res) => {
                let response = res.data

                this.firstName = response.name.split(' ')[0]
                this.lastName = response.name.split(' ')[1]
                this.role = response.role
            });
            this.$store.commit('increment', 'Delete')
        },
        methods: {
            deleteUser(){
                var self = this;
                axios({
                    method: 'DELETE',
                    url: 'http://localhost:3000/users/'+ this.id,
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    }
                })
                .then((res) => {
                    self.$router.push('/users');
                });
            }
        }
    }
</script>
