<template>
<div class="container">
    <ul v-if="error" class="list-group" v-for="(error, index) in errors" :key="index">
        <li class="list-group-item list-group-item-danger" >{{ error }}</li>
    </ul>
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Update</div>
        <div class="card-body">
            <form @submit.prevent="onUpdate">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" v-model="firstName" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                <label for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" v-model="lastName" id="lastName" class="form-control" placeholder="Last name" required="required">
                                <label for="lastName">Last name</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" v-model="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <b-form-select v-model="role" :options="options" class="mb-3" />
                </div>
                <button class="btn btn-primary btn-block">Update</button>
            </form>
        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios'

    export default {
        validate ({ params }) {
            return /^\d+$/.test(params.id)
        },
        fetch ({ store, params }) {
            return store.commit('setIdUser', params.id)
        },
        head: {
			title: 'Edit page'
        },
        data() {
            return {
                id: this.$store.state.idUser,
                options: [
                    { text: 'Chef', value: 3 },
                    { text: 'Detective', value: 2},
                    { text: 'Agent', value: 1 },
                    { text: 'Awaiting', value: 0 }
                ],
                errors: '',
                email: '',
                firstName: '',
                lastName: '',
                role: 0
            }
        },
        mounted() {
            // Recuperation des donnees de l'utilisateur pour remplir le formulaire
            axios({
                method: 'GET',
                url: 'http://localhost:3000/users/'+ this.id,
                headers: {
                    'Authorization': "Bearer " + this.$store.state.auth.accessToken
                }
            })
            .then((res) => {
                let response = res.data

                this.email = response.email
                this.firstName = response.name.split(' ')[0]
                this.lastName = response.name.split(' ')[1]
                this.role = response.role
            });
            this.$store.commit('increment', 'Edit')
        },
        methods: {
            onUpdate(){
                var self = this;
                axios({
                    method: 'PUT',
                    url: 'http://localhost:3000/users/'+ this.id +'',
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    },
                    data: {
                        name: this.firstName + ' ' + this.lastName,
                        email: this.email,
                        role: this.role
                    }
                })
                .then((res) => {
                    self.$router.push('/users');
                });
            }
        }
    }
</script>
