<template>
    <div>
        <Header/>
        <div id="wrapper">
            <SideBar />
            <div id="content-wrapper">
                <div class="container-fluid">
                    <BreadCrumbs :page="page" />
                    <nuxt/>
                </div>
                <Footer/>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '~/components/Header.vue'
    import SideBar from '~/components/SideBar.vue'
    import BreadCrumbs from '~/components/BreadCrumbs.vue'
    import Footer from '~/components/Footer.vue'
    
    export default {
        components: {
            Header,
            SideBar,
            BreadCrumbs,
            Footer
        },
        data() {
            return {
                page: ''
            } 
        },
        mounted() {
            this.page = this.$store.state.breadcrumbsPage
        }
    }
</script>



<style>
    
</style>
