<template>
    <div>
        <!-- Page Content -->
        <h1 class="display-1">404</h1>
        <p class="lead">Page not found. You can
            <a href="javascript:history.back()">go back</a> to the previous page, or
            <a href="/">return home</a>.
        </p>
    </div>
</template>

<script>
    export default {
        layout: 'default', // you can set a custom layout for the error page
        head: {
            title: '404'
        }
    }
</script>

<style>
    
</style>