<template>
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © ETNA HMMV Project 2018</span>
            </div>
        </div>
    </footer>
</template>

<script>
    
</script>


<style>
    
</style>
