<template>
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="/">Home</a>
    
    
        <!-- Fill the spaces -->
        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </div>
    
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">

            <li class="nav-item dropdown no-arrow">
                <a v-if="isAuth" class="nav-link dropdown-toggle" @click="logout" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
                <a v-else class="nav-link dropdown-toggle" href="/login" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</template>

<script>
    import Cookie from 'js-cookie'
    import axios from 'axios'

    export default {
        data() {
            return {
                isAuth: this.$store.state.auth
            }
        },
        methods: {
            logout(){
                axios.get('http://localhost:3000/logout', {
                    headers: {
                        'Authorization': "Bearer " + this.$store.state.auth.accessToken
                    }
                });
                Cookie.set('auth', null);
                this.$store.commit('logout')
                window.location.href = '/'
            }
        }
    }
</script>
