<template>
    <!-- Sidebar -->
    <ul v-if="isAuth" class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/crimes">
                <i class="fas fa-fw fa-table"></i>
                <span>Crimes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">
                <i class="fas fa-fw fa-table"></i>
                <span>Users</span>
            </a>
        </li>
    </ul>
    <ul v-else class="sidebar navbar-nav">

    </ul>
</template>

<script>
    export default {
        data() {
            return {
                isAuth: ''
            }
        },
        mounted() {
            this.isAuth = this.$store.state.auth
        }
    }
</script>
